# Copy this file to .env.local for local development.
NEXT_PUBLIC_SUPABASE_URL=https://tbijqpndysounpujppjx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JcJqb2tlEpS_jkiBSdaaPA_ZCEs-k57
